.logo{
   
    width: 80px;
    height: 22px;
    margin: auto;
    margin-left: 25px;
    margin-right: 0px;
   
    
   

}
.header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 55px;
    display: flex;
    
    box-shadow: -5px -9px 20px;
    
}
.searchbox{
    margin: auto;
    margin-left:50px;
    margin-right:0px;
}
.searchbox>input{
    height:25px;
    width:80%;
}
.searchbox>button{
    height:32px;
}
.account{
    margin: auto;
    margin-right: 25px;
    display: block;
    float:right;
   

}
.option{


    background-color: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
  margin: auto;
  margin-left:10px;
  margin-right:0px;
   padding: 10px;
   border-radius: 100px;
   

}
.image-con{
    margin: auto;
    padding: 2px;
    
}
.optionlogo{
   width: 20px;
   
    
  
 

}
.option:hover{
    background-color: rgb(143, 143, 143);
}